<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Wall</title>

    @Styles.Render("~/Content/libs")

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/site")

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
@RenderSection("prebodyscripts", required: false)
<body>
    @RenderSection("afterbodyscripts", required: false)
    <div id="top-navigation-container">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @(Html.ActionLink<HomeController>((c) => c.Index(), "VoiceWall", new { area = "" }, new { @class = "navbar-brand" }))
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@(Html.ActionLink<HomeController>((c) => c.Index(),"Home"))</li>
                        <li>@(Html.ActionLink<StaticPagesController>((c) => c.About(), "About"))</li>
                        <li>@(Html.ActionLink<StaticPagesController>((c) => c.Contact(), "Contact"))</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div id="tiny-navigation-container">
        <a id="menu-toggle" class="btn btn-dark btn-lg toggle">Menu&nbsp;<i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                <li>@(Html.ActionLink<HomeController>((c) => c.Index(), "Home"))</li>
                <li>@(Html.ActionLink<StaticPagesController>((c) => c.About(), "About"))</li>
                <li>@(Html.ActionLink<StaticPagesController>((c) => c.Contact(), "Contact"))</li>

                <li>@(Html.ActionLink<SettingsController>((c) => c.General(), "Profile"))</li>
            </ul>
        </nav>
    </div>

    <div class="container body-content" id="main-body-content-holder">
        @RenderBody()
    </div>

    @Html.FontAwesomeButton("Top", "rocket", new { id = "back-to-the-top-btn" })

    <!-- Footer -->
    <div class="container">
        <footer>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4>
                            <strong>About the creator</strong>
                        </h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone fa-fw"></i> (0896) 123 456</li>
                            <li>
                                <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:dzhenko@gmail.com">dzhenko@gmail.com</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-github fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-code-fork fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fast4y/VoiceWall"><i class="fa fa-pinterest fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; Voice Wall 2014</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sideMenu")
    @RenderSection("scripts", required: false)

    @*TODO: Clean this*@
    @if (TempData["Success"] != null)
    {
        <script>toastr.success('@TempData["Success"].ToString()')</script>
    }
    @if (TempData["Error"] != null)
    {
        <script>toastr.error('@TempData["Error"].ToString()')</script>
    }
</body>
</html>
