@if (User.Identity.IsAuthenticated)
{
    <li>@(Html.ActionLink<HomeController>((c) => c.Index(), "Home"))</li>
    <li>@(Html.ActionLink<SearchController>((c) => c.Index(), "Search"))</li>
    <li>@(Html.ActionLink<ChatController>((c) => c.Index(), "Chat"))</li>
    <li>@(Html.ActionLink<GamesController>((c) => c.Index(), "Games", new { area = "Fun" }))</li>
    <li><a href="#" onclick="getRandomJoke()">Joke</a></li>
}

@if (User.IsInRole(GlobalConstants.AdminRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Administrator <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@(Html.ActionLink<ContentsAdministrationController>((c) => c.Index(), "Contents", new { area = "Administration" }))</li>
            <li>@(Html.ActionLink<CommentsAdministrationController>((c) => c.Index(null), "Comments", new { area = "Administration" }))</li>
            <li>@(Html.ActionLink<ContentViewsAdministrationController>((c) => c.Index(null), "Content Views", new { area = "Administration" }))</li>
            <li>@(Html.ActionLink<CommentViewsAdministrationController>((c) => c.Index(null), "Comment Views", new { area = "Administration" }))</li>
            <li>@(Html.ActionLink<UsersAdministrationController>((c) => c.Index(), "Users", new { area = "Administration" }))</li>
        </ul>
    </li>
}

@if (User.IsInRole(GlobalConstants.ModeratorRole))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Moderator <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@(Html.ActionLink<ContentsModerationController>((c) => c.Index(), "Contents", new { area = "Moderators" }))</li>
            <li>@(Html.ActionLink<CommentsModerationController>((c) => c.Index(null), "Comments", new { area = "Moderators" }))</li>
        </ul>
    </li>
}

<li>@(Html.ActionLink<StaticPagesController>((c) => c.About(), "About"))</li>
<li>@(Html.ActionLink<StaticPagesController>((c) => c.Contact(), "Contact"))</li>
<li>@(Html.ActionLink<StaticPagesController>((c) => c.FAQ(), "FAQ"))</li>
