@using VoiceWall.Web
@using VoiceWall.Data.Models
@using VoiceWall.Web.Controllers

@model VoiceWall.Web.ViewModels.WallItemHolderViewModel

<div class="row">
    <div class="main-image-holder" style="background-image:url(@(Model.ContentType == ContentType.Picture ? Model.ContentUrl : Model.UserImage))">
        <p class="image-holder-header">
            <span class="pull-left lead">
                @(Html.ActionLink<ProfileController>((c) => c.Details(Guid.Empty), Model.UserName, new { id = Model.UserId, username = Model.UserName }))
            </span>

            <img class="pull-right" width="90" height="90" alt="User" src="@Model.UserImage">
        </p>
        @Html.FontAwesomeMultimediaActionLink(Model.ContentUrl, Model.ContentType, new { @class = "multimedia-main-action" })
        <p class="image-holder-footer">
            @Html.FontAwesomeItemStats(Model.Likes, Model.Hates, Model.Flags)
            <small class="pull-right">
                @Html.DisplayFor(m => m.CreatedOn)
            </small>
        </p>
    </div>
</div>
<div class="row main-create-comment-holder" data-wall-item-id="@Model.Id">
    <div class="pull-left">
        @Html.FontAwesomeButton("Comment", "comment", new { @class = "commentBtn pull-left" })
        @Html.FontAwesomeButton("Voice", "microphone", new { @class = "voiceBtn commentInnerBtn" })
        @Html.FontAwesomeButton("Picture", "picture-o", new { @class = "pictureBtn commentInnerBtn" })
        @Html.FontAwesomeButton("Video", "video-camera", new { @class = "videoBtn commentInnerBtn" })
    </div>
    <div class="pull-right">
        @Html.FontAwesomeButton("React", "exclamation-triangle", new { @class = "reactBtn pull-right" })
        @Html.FontAwesomeButton("Like", "thumbs-up", new { @class = "likeBtn reactInnerBtn" }, Model.IsLiked == true)
        @Html.FontAwesomeButton("Hate", "thumbs-down", new { @class = "hateBtn reactInnerBtn" }, Model.IsLiked == false)
        @Html.FontAwesomeButton("Flag", "flag", new { @class = "flagBtn reactInnerBtn" }, Model.IsFlagged)
    </div>
</div>
