@using VoiceWall.Web
@model VoiceWall.Web.ViewModels.WallItemCommentViewModel

<div class="row single-comment-item" data-wall-item-comment-id="@Model.Id">
    <div class="col-md-3">
        @Html.DivWithImage(Model.UserImage, new { @class = "comment-image-holder" })
    </div>
    <div class="col-md-4">
        <div class="row">
            @(Html.ActionLink<ProfileController>((c) => c.Details(Guid.Empty), Model.UserName, new { id = Model.UserId, username = Model.UserName }))
        </div>
        <div class="row">
            @Html.DisplayFor(m => Model.CreatedOn)
        </div>

        @if (Model.Flags > 0)
        {
            <div class="row">
                <i class="fa fa-2x fa-fw fa-flag-o text-danger">@Model.Flags</i>
            </div>
        }
    </div>
    <div class="col-md-1">
        @Html.FontAwesomeButton("Flag", "flag", new { @class = "flagCommentBtn" }, Model.IsFlagged, 2)
    </div>
    <div class="col-md-3 col-md-offset-half">
        @Html.FontAwesomeMultimediaActionLink(Model.ContentUrl, Model.ContentType, new { @class = "small-multimedia-main-action" })
    </div>
</div>
