@model VoiceWall.Web.ViewModels.Account.SingleProfileViewModel

<h1 class="text-center">Profile overview</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderPartial("_ProfileOverviewPartial", Model);}

            <div class="row">
                <hr />
                <h4>Change your profile picture</h4>
                @using (Html.BeginForm<SettingsController>((c) => c.UpdateProfile(null), null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.FontAwesomeButton("Choose File", "upload", new { @class = "shownPictureUploadBtnSrc", onclick = "$('.shownPictureUploadBtnTarget').click(); return false" })
                    @Html.TextBox("File", "", new { name = "File", type = "file", @class = "shownPictureUploadBtnTarget display-none" })
                    
                    @Html.Submit("Update", new { @class = "fa-3x" })
                }
            </div>

            <div class="row">
                <hr />
                <h4>Edit Profile Settings <i class="fa fa-1x fa-cogs"></i></h4>
                @(Html.ActionLink<ManageController>((c) => c.Index(null), "Security", null, new { @class = "btn btn-dark" }))
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-image-holder-div" style="background-image:url(@Model.UserImage)"></div>
        </div>
    </div>
</div>